/* fila donde esta el boton y la notificacion */

.fila-notificacion {
    display: flex;
    align-items: center;

    gap: 15px;

    width: 100%;
}


/* el boton ocupa el espacio disponible */

.fila-notificacion .btn {
    flex: 1;
}


/* diseño principal de la notificacion */

.rose-notificacion {
    position: relative;

    display: flex;
    align-items: center;

    width: 300px;

    background-color: white;

    padding: 12px;

    border-radius: 10px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);

    font-family: Arial, sans-serif;

    opacity: 0;

    transform: translateX(15px);

    transition: 0.3s;
}


/* cuando aparece */

.rose-notificacion.mostrar {
    opacity: 1;

    transform: translateX(0);
}


/* cuando se cierra */

.rose-notificacion.ocultar {
    opacity: 0;

    transform: translateX(15px);
}


/* diseño del icono */

.rose-icono {
    width: 35px;
    height: 35px;

    display: flex;

    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    margin-right: 10px;

    border-radius: 50%;

    font-size: 18px;

    font-weight: bold;
}


/* contenido */

.rose-contenido {
    flex: 1;
}


/* titulo */

.rose-contenido h3 {
    margin: 0 0 4px 0;

    font-size: 14px;

    color: #5c4657;
}


/* mensaje */

.rose-contenido p {
    margin: 0;

    font-size: 12px;

    color: #8b7886;
}


/* boton x */

.rose-cerrar {
    border: none;

    background-color: transparent;

    color: #a996a3;

    font-size: 19px;

    cursor: pointer;

    margin-left: 8px;
}


.rose-cerrar:hover {
    color: #632f54;
}


/* --------------------
   exito
-------------------- */

.rose-exito {
    border-left: 5px solid #156712;
}

.rose-exito .rose-icono {
    background-color: #e4f2eb;

    color: #235941;
}


/* --------------------
   error
-------------------- */

.rose-error {
    border-left: 5px solid #741919;
}

.rose-error .rose-icono {
    background-color: #f8e4e9;

    color: #b45e75;
}


/* --------------------
   advertencia
-------------------- */

.rose-advertencia {
    border-left: 5px solid #85683b;
}

.rose-advertencia .rose-icono {
    background-color: #fff1da;

    color: #ad7c35;
}


/* --------------------
   informacion
-------------------- */

.rose-informacion {
    border-left: 5px solid #4f2d81;
}

.rose-informacion .rose-icono {
    background-color: #eee8f7;

    color: #79639b;
}


/* para celulares */

@media (max-width: 800px) {

    .fila-notificacion {
        flex-direction: column;

        align-items: stretch;
    }


    .rose-notificacion {
        width: 100%;
    }

}